.imgPrincipal{
    background-image: url(../Images/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    cursor: pointer;
}
body{
    overflow-x: hidden;
}
.container-xl{
    gap: 2rem;
}
.modal-contenedor{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.img-carrito{
    width: 200px;
    padding: 20px;
}
.parrafo{
    font-weight: 750;
    font-family: sans-serif;
    color: black;
}
.card{
    background-color: #ffffffd7;
    gap: 1rem;
    margin-top: 5px;
    margin-left: 22px;
    margin-right: 10px;
}